extends layout

block content
  include includes/book_menus/book_filters
  include includes/book_menus/book_table
    each book in books
      tr
        td=book.title
        td=book.author
        td=book.genre
        td=book.first_published
