extends layout

block content
  include includes/book_templates/book_filters
  include includes/book_templates/book_table
    each book in books
      tr
        td
          a(href='book_detail')=book.title
        td=book.author
        td=book.genre
        td=book.first_published
