extends layout

block content
  if(errors)
    h1 Missing Loan Details
  else
    h1 New Loan
  include error
  form(method='POST')
    p
      label(for='book_id') Book
      select(name='book_id')
        each book in books
            option(value=book.id selected=(book.id==loan.book_id))=book.title
    p
      label(for='patron_id') Patron
      select(name='patron_id')
        each patron in patrons
          option(value=patron.id selected=(patron.id==loan.patron_id))=patron.first_name+' '+patron.last_name
    p
      label(for='loaned_on') Loaned On:
      input(type='text' name='loaned_on' value=loan.loaned_on)
    p
      label(for='return_by') Return By:
      input(type='text' name='return_by' value=loan.return_by)
    if(errors)
      p
        input(type='submit' value='Update')
    else
      p
        input(type='submit' value='Create New Loan')
