extends layout

block content
  h1 New Patron
  form(method='POST' action = '/add_patron')
    p
      label(for='first_name') First Name
      input(type='text' name='first_name' placeholder= '')
    p
      label(for='last_name') Last Name
      input(type='text' name='last_name' placeholder= '')
    p
      label(for='address') Address
      input(type='text' name='address' placeholder= '')
    p
      label(for='email') Email
      input(type='text' name='email' placeholder= '')
    p
      label(for='library_id') Library ID
      input(type='text' name='library_id' placeholder= '')
    p
      label(for='zip_code') Zip Code
      input(type='text' name='zip_code' placeholder= '')
    p
      input(type='submit' value='Create New Book')
