extends layout

block content
  include includes/book_menus/book_filters
  include includes/book_menus/book_table
    each loan in loans
      tr
        td=loan.id
        td=loan.id
        td=loan.id
        td=loan.id
